In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.5-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.8 kB ? eta -:--:--
     ------------------- ------------------ 30.7/60.8 kB 435.7 kB/s eta 0:00:01
     -------------------------------------- 60.8/60.8 kB 538.3 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\docente1\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\docente1\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.5 MB 2.0 MB/s eta 0:00:06
   - -------------------------------------- 0.3/11.5 MB 3.9 MB/s eta 0:00:03
   -- ------------------------------------- 0.8/11.5 MB 6.2 MB/s eta 0:00:02
   ----- ---------------------------------- 1.6/11.5 MB 9.2 MB/s eta 0:00:02
   --------- ------------------------------ 2.6/11.5 MB 11.9 MB/s eta 0:00:01
   ------------ --------------------------- 3.7/11.5 MB 14.7 MB/s eta 0:00:01
   ---------------- ----------------------- 4.6/11.5 MB 15.6 MB/s eta 0:00:01
   -------------------- ------------------- 5.9/11.5 MB 17.2 MB/s eta 0:00:01
   ------------------------- -------------- 7.2/11.5 MB 19.3 MB/s eta 0:00:01
   ----------------------------- ---------- 8.6/11.5 MB 19.6 MB/s eta 0:00:01
   ---------------------------------- ----- 9.8/11.5 MB 20.2 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.5 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 26.2 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 23.3 MB/s eta 0:00:00
Downloading numpy-2.2.5-cp312-cp312-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---- ----------------------------------- 1.5/12.6 MB 30.7 MB/s eta 0:00:01
   -------- ------------------------------- 2.7/12.6 MB 28.7 MB/s eta 0:00:01
   ------------ --------------------------- 4.0/12.6 MB 28.3 MB/s eta 0:00:01
   ---------------- ----------------------- 5.2/12.6 MB 25.7 MB/s eta 0:00:01
   -------------------- ------------------- 6.5/12.6 MB 27.7 MB/s eta 0:00:01
   ----------------------- ---------------- 7.5/12.6 MB 26.5 MB/s eta 0:00:01
   --------------------------- ------------ 8.7/12.6 MB 26.5 MB/s eta 0:00:01
   ------------------------------- -------- 10.0/12.6 MB 26.5 MB/s eta 0:00:01
   ----------------------------------- ---- 11.2/12.6 MB 26.2 MB/s eta 0:00:01
   ---------------------------------------  12.5/12.6 MB 26.2 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 26.2 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 23.4 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
   ---------------------------------------- 0.0/509.2 kB ? eta -:--:--
    --------------------------------------- 10.2/509.2 kB ? eta -:--:--
   --------------------------------------- 509.2/509.2 kB 10.6 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
   ---------------------------------------- 0.0/347.8 kB ? eta -:--:--
   --------------------------------------- 347.8/347.8 kB 22.5 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.5 pandas-2.2.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("listings.csv")

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26057,-97.73441,Entire home/apt,274.0,2,702,2025-02-24,3.60,1,325,32,NaN
1,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.45697,-97.78422,Private room,NaN,1,299,2024-06-09,1.65,1,0,4,NaN
2,6413,Gem of a Studio near Downtown,13879,Todd,NaN,78704,30.24885,-97.73587,Entire home/apt,189.0,30,122,2024-10-01,0.66,1,0,2,NaN
3,6448,"Secluded Studio @ Zilker - King Bed, Bright & ...",14156,Amy,NaN,78704,30.26034,-97.76487,Entire home/apt,240.0,3,334,2025-02-17,2.03,1,171,21,NaN
4,8502,Woodland Studio Lodging,25298,Karen,NaN,78741,30.23466,-97.73682,Entire home/apt,NaN,4,53,2024-04-14,0.29,1,13,2,NaN

In [5]:
 # The last 10 rows of the DataFramedf.tail(n = 10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
15421,1368842101958709336,The Onyx Haus @ TheDomain,537355045,Manore,NaN,78758,30.383031,-97.699901,Entire home/apt,599.0,2,0,NaN,NaN,1,365,0,NaN
15422,1368876231630476942,Austin's Most Memorable View,682146445,Erica,NaN,78701,30.269260,-97.745680,Entire home/apt,144.0,1,0,NaN,NaN,1,44,0,NaN
15423,1368903563240814787,Munson Retreat,228881634,Fernando,NaN,78721,30.270663,-97.694675,Entire home/apt,257.0,1,0,NaN,NaN,1,365,0,NaN
15424,1368933607672795070,Room in Austin,70380071,Malik,NaN,78754,30.359701,-97.640405,Private room,42.0,1,0,NaN,NaN,1,0,0,NaN
15425,1368975199060212276,Treehouse in the woods!,43221494,Nikki & Patrick,NaN,78734,30.371211,-97.990302,Entire home/apt,370.0,4,0,NaN,NaN,2,358,0,NaN
15426,1369030977278306490,Flex basic,663332247,Natnael,NaN,78705,30.292779,-97.725420,Private room,23.0,30,0,NaN,NaN,14,347,0,NaN
15427,1369031004106068720,Stylish & Lux Stay | Walk to Top Eats & Pickle...,19137768,Kristen,NaN,78722,30.286520,-97.712380,Entire home/apt,312.0,2,0,NaN,NaN,2,4,0,NaN
15428,1369057136333994471,Hill Country Hideout-Pool-HotTub,68569490,Evan & Lala,NaN,78737,30.224096,-98.008301,Entire home/apt,444.0,2,1,2025-03-10,1.0,1,339,1,NaN
15429,1369090281815642314,Vibrant East Austin Retreat Private 2 Bedroom ...,142909764,The,NaN,78721,30.255941,-97.685958,Entire home/apt,116.0,1,0,NaN,NaN,7,61,0,NaN
15430,1369133036341359961,"Hot Tub & Pool, Stunning 4BD Near Domain & Cap...",56352966,Krishni,NaN,78753,30.356580,-97.697823,Entire home/apt,242.0,1,1,2025-03-06,1.0,1,365,1,NaN

In [ ]:
df.describe()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
count,1.543100e+04,1.543100e+04,0.0,15431.000000,15431.000000,15431.000000,11029.000000,15431.000000,15431.000000,12394.000000,15431.000000,15431.000000,15431.000000,0.0
mean,5.649547e+17,1.729455e+08,NaN,78724.371395,30.279937,-97.750596,341.934627,7.714341,42.834230,1.423461,10.124749,140.200376,9.907135,NaN
std,5.299163e+17,1.910468e+08,NaN,20.723928,0.063867,0.064620,797.943897,29.975846,89.225489,1.641482,20.930417,141.478141,16.776291,NaN
min,5.456000e+03,2.300000e+01,NaN,78701.000000,30.078440,-98.053350,13.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000,NaN
25%,3.139013e+07,1.825323e+07,NaN,78704.000000,30.241825,-97.768605,114.000000,1.000000,1.000000,0.230000,1.000000,0.000000,0.000000,NaN
50%,6.687025e+17,8.177234e+07,NaN,78723.000000,30.269050,-97.741463,189.000000,2.000000,9.000000,0.880000,2.000000,88.000000,2.000000,NaN
75%,1.077367e+18,2.963348e+08,NaN,78745.000000,30.308945,-97.717043,332.000000,3.000000,44.000000,2.070000,6.000000,288.000000,13.000000,NaN
max,1.369973e+18,6.821464e+08,NaN,78759.000000,30.518350,-97.559300,39741.000000,1124.000000,1261.000000,21.350000,111.000000,365.000000,224.000000,NaN

In [7]:
df.info(show_counts=True, memory_usage=True, verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15431 entries, 0 to 15430
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              15431 non-null  int64
 1   name                            15431 non-null  object
 2   host_id                         15431 non-null  int64
 3   host_name                       15410 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   15431 non-null  int64
 6   latitude                        15431 non-null  float64
 7   longitude                       15431 non-null  float64
 8   room_type                       15431 non-null  object
 9   price                           11029 non-null  float64
 10  minimum_nights                  15431 non-null  int64
 11  number_of_reviews               15431 non-null  int64
 12  last_review                     12394 non-null  object
 13  reviews_per_month               12394 non-null  float64
 14  calculated_host_listings_count  15431 non-null  int64
 15  availability_365                15431 non-null  int64
 16  number_of_reviews_ltm           15431 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(6), int64(8), object(4)
memory usage: 2.1+ MB

In [8]:
df.shape # Get the number of rows and columns

(15431, 18)

In [9]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [10]:
list(df.columns)

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365',
 'number_of_reviews_ltm',
 'license']

In [15]:
df[['name']]

                                                    name
0              Walk to 6th, Rainey St and Convention Ctr
1                                         NW Austin Room
2                          Gem of a Studio near Downtown
3      Secluded Studio @ Zilker - King Bed, Bright & ...
4                                Woodland Studio Lodging
...                                                  ...
15426                                         Flex basic
15427  Stylish & Lux Stay | Walk to Top Eats & Pickle...
15428                   Hill Country Hideout-Pool-HotTub
15429  Vibrant East Austin Retreat Private 2 Bedroom ...
15430  Hot Tub & Pool, Stunning 4BD Near Domain & Cap...

[15431 rows x 1 columns]

In [13]:
df[['name', 'neighbourhood_group']]

                                                    name  neighbourhood_group
0              Walk to 6th, Rainey St and Convention Ctr                  NaN
1                                         NW Austin Room                  NaN
2                          Gem of a Studio near Downtown                  NaN
3      Secluded Studio @ Zilker - King Bed, Bright & ...                  NaN
4                                Woodland Studio Lodging                  NaN
...                                                  ...                  ...
15426                                         Flex basic                  NaN
15427  Stylish & Lux Stay | Walk to Top Eats & Pickle...                  NaN
15428                   Hill Country Hideout-Pool-HotTub                  NaN
15429  Vibrant East Austin Retreat Private 2 Bedroom ...                  NaN
15430  Hot Tub & Pool, Stunning 4BD Near Domain & Cap...                  NaN

[15431 rows x 2 columns]